body {
  font-family: "Gill Sans";
  width: 1000px;
  margin: .25in auto;
  background: rgba(221, 204, 187, 0.15);
}
h1 {
  font-weight: 300;
}
rect.graphic-background {
  fill: white;
  background: white;
}
rect.base {
  fill: #f7e7d7;
}
rect.plot-background {
  fill: #fafafa;
  fill: white;
}
rect.facet-grid-background {
  fill: #efefef;
}
/*
rect.boxplot {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

line.boxplot {
    stroke: #000;
    stroke-width: 1px;
}
*/
div#examples span {
  margin: 3px;
}
.axis {
  shape-rendering: crispEdges;
}
.axis line {
  stroke: #fff;
}
.axis .minor {
  stroke-opacity: .5;
}
.axis path {
  stroke: #fff;
  fill: none;
}
.axis path.domain {
  fill: none;
}
.axis text,
g.axis g text {
  font-size: 10pt;
  font-weight: 300;
  fill: black;
}
.legend {
  font-size: 10px;
  font-weight: 300;
}
.graphic-title {
  font-size: 25pt;
}
.graphicText {
  font-size: 10px;
  cursor: pointer;
  fill: black;
  text-shadow: 1px 1px 0px white;
}
.graphicText.showOnHover {
  fill: transparent;
  text-shadow: none;
}
.graphicText.showOnHover:hover {
  fill: black;
  text-shadow: 1px 1px 0px white;
}
.extent {
  fill: none;
  stroke-width: 1px;
  stroke: #999;
}
.facet-label rect {
  fill: #e0e0e0;
}
.facet-label text {
  color: black;
  font-size: 15px;
}
