body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
div.submission {
  width: 40%;
  height: 600px;
  margin: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border: 5px solid whitesmoke;
  float: left;
}
div.submission:hover {
  border: 5px solid black;
}

.img {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.link {
  margin: 10px;
}
a, a:visited {
  font-size: 15pt;
  font-family: arial;
  text-decoration: none;
  color: steelblue;
}
